<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sisyphus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sisyphus">
        <activity
            android:name=".View.Dialog.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".View.InfoEdit"
            android:exported="false" />
        <activity
            android:name=".View.Settings"
            android:exported="false" />
        <activity
            android:name=".View.HabitController"
            android:exported="false" />
        <activity
            android:name=".View.AddHabit"
            android:exported="false" />
        <activity
            android:name=".View.EditHabitEventView"
            android:exported="true" />
        <activity
            android:name=".View.ViewHabitEvent"
            android:exported="true" />
        <activity
            android:name=".View.AddHabitEvent"
            android:exported="true" />
        <activity
            android:name=".View.UserSearch"
            android:exported="true" />
        <activity
            android:name=".View.EmptyMainMenu"
            android:exported="true" />
        <activity
            android:name=".View.ListHabitEvent"
            android:exported="false" />
        <activity
            android:name=".View.AllHabitListView"
            android:exported="true" />
        <activity
            android:name=".View.ViewHabit"
            android:exported="false" />
        <activity
            android:name=".View.SignIn"
            android:exported="true" />
        <activity
            android:name=".View.Register"
            android:exported="false" />
        <activity
            android:name=".View.Entry"
            android:exported="false" />
        <activity
            android:name=".View.CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>